.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #888; /* Customize as needed */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity:95%;
  z-index: 1000; /* Ensure it's above other content */
}

.closeButton {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  font-weight:bold;
}
