.account {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5px;
  padding-top: 15px;
}

.accountAnchor {
  color:'#999';
  padding-left:12px;
}

.payment {
  padding: 30px 0 0 55px;
}

.paymentAnchor {
  color:'#999';
  padding-left:15px;
}

.team {
  padding-left:50px;
  padding-top: 45px;
}

.statsTitle {
  padding-top:   20px;
  padding-bottom:20px;
}

/* Clerk card background color */

:global(.cl-card) {
  background-color: rgb(36,36,36);
  box-shadow:none;
  width:80vw;
  border:none;
}

:global(.cl-profileSection__danger) {
  display:none;
}
