.tinad-target-element {
  display:none;
}

.banner-space {
  display:none;
  padding:20px;
  border: 4px dotted orange;
  border-radius: 15px;
  background: #ff5;
  width: 100%;
  position:relative;
}

.my-content {
  color: blue;
  font-style: italic;
  min-height:100px;
}

.my-confirm {
  position:absolute;
  bottom: 10px;
  right:10px;
  background-color: white;
  color: black;  /* White text */
  border-radius: 5px;  /* Small rounded corners */
  border:1px solid #999;
  padding: 10px 15px;  /* Padding for size and comfort */
  cursor: pointer;  /* Pointer cursor */
  min-width:100px;
}

.my-dismiss {
  font-weight:800;
  color: #999;
  position: absolute;  /* Absolute position to place within its parent */
  top: 14px;  /* Adjust as needed for correct spacing from top */
  right: 14px;  /* Adjust as needed for correct spacing from right */
  background: none;  /* Remove background styling */
  border: 1px solid #fff;
  font-size: 16px;  /* Font size for "X" */
  cursor: pointer;  /* Pointer cursor to indicate clickable */
}

.my-dismiss:hover {
  border-radius: 2px;
  border: 1px solid #ddd;
  color: #000;
}
