.container {
  display: grid;
  grid-template-rows: 55vh 45vh;
  width:100vw;
  height: 100vh;
  max-width:none;
}

.top-panel {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  height: 100%;
  border-bottom:4px solid #aaa;
}

.bottom-panel {
  width: 100%;
  overflow:hidden;
}

.config-widget {
  max-width:none;
  height:100%;
  background:white;
  position:relative;
}

.code-editor {
  overflow:auto;
  overflow-x: hidden;
}

.code-editor .mantine-CodeHighlight-root {
  height: 100%;
}

.copy-button {
  color:rgb(143, 144, 138);
}

.editors-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow:hidden;
}

.dashboard-drawer-button {
  position:absolute;
  left:  -10px;
  bottom:15px;
  background-color: rgb(3, 172, 202);
}

.dashboard-drawer-button:hover {
  background-color: rgb(3, 172, 202);
}

.mantine-Drawer-body {
  height: 90%; /* Make sure the content takes up full available height */
  overflow:hidden;
}

.mantine-Drawer-title {
  font-size: 20px;
  font-weight:800;
  font-style:italic;
}

.help-button {
  position:absolute;
  right: 10px;
  bottom:15px;
  background-color: #ccc;
  min-width:40px;
}

.help-button:hover {
  background-color: #999;
}

.copy-to-clipboard-button {
  position:absolute;
  top:5px;
  right:10px;
}
