.container {
  display: grid;
  grid-template-rows: 50vh 50vh;
  width:100vw;
  height: 100vh;
  max-width:none;
}

.top-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  border-bottom:4px solid #aaa;
}

.bottom-panel {
  width: 100%;
  overflow:hidden;
}

.config-widget {
  max-width:none;
  height:100%;
  background:white;
}

.code-editor {
  overflow:auto;
  overflow-x: hidden;
}

.code-editor .mantine-CodeHighlight-root {
  height: 100%;
}

.copy-button {
  color:rgb(143, 144, 138);
}
