.container {
  display: grid;
  grid-template-rows:50vh 51vh;
  width:100vw;
  height: 100vh;
  max-width:none;
  overflow:hidden;
}

.top-panel {
  display: flex;
  height: 100%;
  border-bottom:4px solid #aaa;
}

.bottom-panel {
  width: 100%;
  overflow:hidden;
}

.config-widget {
  flex: 1;
  max-width:none;
  height:100%;
  background:black;
  overflow:auto;
  position:relative;
}

.code-editor {
  flex:1;
  height:100%;
  overflow:hidden;
}

.code-editor .mantine-CodeHighlight-root {
  height: 100%;
}

.copy-button {
  color:rgb(143, 144, 138);
}

.editors-container {
  display: flex;
  flex-direction: column;
  max-width:none;
  height: 100%;
  overflow: none;
  position: relative;
}

.dashboard-drawer-button {
/*  position:absolute;*/
  left:  -10px;
  /*  bottom:15px;*/
  margin-bottom:15px;
  background-color: rgb(3, 172, 202);
}

.dashboard-drawer-button:hover {
  background-color: rgb(3, 172, 202);
}
 
.mantine-Drawer-body {
  height: 90%; /* Make sure the content takes up full available height */
  overflow:hidden;
}

.mantine-Drawer-title {
  font-size: 20px;
  font-weight:800;
  font-style:italic;
}

.help-button {
/*  right: 10px;*/
  margin-bottom:15px;
  background-color: #ccc;
}

.help-button:hover {
  background-color: #999;
}

.get-started-button {
}

.reload-sdk-button {
  margin-bottom:15px;
  background-color: #ccc;
}

.reload-sdk-button:hover {
  background-color: #999;
}

.copy-to-clipboard-button {
  position:absolute;
  top:5px;
  right:10px;
}

.toast-position-grid-container {
  margin-top:15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.toast-position-grid-item {
  padding:10px;
  margin:0px;
  display: flex;
  align-items: center;
  justify-content: left;
 }

.side-tab {
  position: fixed;
  top: 50%;
  padding: 10px;
  background-color: #505050;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
}

.side-tab.chosen {
  color: rgb(3, 172, 202);
  font-weight:800;
  background:#666;
}

.side-tab.left {
  transform: translateY(-200%);
  left: 0;
}

.side-tab.right {
  transform: translateY(-200%);
  right: 0;
}

.custom-class-checkbox .mantine-Checkbox-labelWrapper label {
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-family: Arial, Helvetica;
  text-align: left !important;
  background: linear-gradient(to right, #feb47b, #ff1e1f);
  -webkit-background-clip: text;
  color: transparent;
}

/* Style variations for laptop vs mobile... */

.off-screen {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.on-screen {
  position: static;
}

@media (max-width: 767px) {
  .top-panel {
    flex-direction: column;
    height: 50vh;
  }

  .config-widget,
  .code-editor {
    height: 50%;
  }

  .side-tab {
    width: 50px; /* Add a fixed width */
    text-orientation: mixed; /* Preserve text orientation */
    writing-mode: vertical-lr; /* Rotate the text */
    width:30px;
    background-color: #ccc;
    color:white;
    border-radius:5px;
  }

  .side-tab.left {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: translateY(-50%) ; /* Rotate the element 180 degrees */
    left:-6px;
    top:170px;
  }

  .side-tab.right {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: translateY(-50%) rotate(180deg); /* Rotate the element 180 degrees */
    right:-6px;
    top:170px;
  }

}

@media (min-width: 768px) {
  .top-panel {
    flex-direction: row; /* Display panels side by side */
  }

  .config-widget,
  .code-editor {
    flex: 1; /* Equal width for both panels */
  }
}
