.apiKeyPanel {
  padding:15px 0px 30px 40px;
  max-width:1000px;
}

.apiKeyRow {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: white;
}

.apiProdKeyDisplay {
  padding:5px;
  border: 1px dotted #3f3;
  width:30%;
  font-weight:bold;
  color:#3f3;
}

.apiTemporaryKeyDisplay {
  padding:5px;
  border: 1px dotted white;
  width:90%;
  font-weight:bold;
  color:white;
  max-width:350px;
}


.apiKeyBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.apiKeyTextEnabled {
  font-family: courier;
  color:#3f3
}

.apiKeyTextDisabled {
  font-family: courier;
  color:#666;
}

.disabled {
  color: #666;
  margin-bottom:20px;
}

.enabled {
  color: #ddd;
  cursor: pointer;
  margin-bottom:20px;
}

.activate {
  color: green;

}

.deactivate {
  color: white;
}
