.header {
  position: sticky;
  top: 0;
  background-color: var(--mantine-color-body);
  transition: box-shadow 150ms ease;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: rem(1px) solid
      light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-3));
  }
}

.scrolled {
  box-shadow: var(--mantine-shadow-sm);
}

.highlighted-row {
  background-color: orange; /* Starting color */
  animation: fadeOutHighlight 3s forwards; /* Animation over 4 seconds */
}

@keyframes fadeOutHighlight {
  from {
    background-color: orange; /* Starting color */
  }
  to {
    background-color: #242424; /* Final color */
  }
}

/*
.hoverIcons {
  visibility:hidden;
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: left;
  transition: visibility 0.3s, opacity 0.3s ease;
  opacity: 0;
  margin:0px 0px 5px 10px;
  color: #555;
}

.hoverIcons:hover {
  visibility: visible;
  opacity: 0.5;
}

.hoverIcons svg {
  color:#999;
}

.hoverIcons svg:hover {
  opacity:1;
  color:#eee;
}

.hoverIcons {
  position: relative;
  padding-bottom: 30px; 
  transition: background-color 1s ease; 
}
*/


.notificationTypeChoice {
  margin-top:22px;
}

.pageId {
  font-family: courier;
}

.notificationTypeChoice div {
  margin-top:2px;
}

.tableCellToTop {
  vertical-align: top;
}

.mantine-Switch-root {
  cursor: pointer;
}

.notificationsListHeader {
  border-bottom: 1px solid #696;
  padding-bottom: 4px;
  margin-bottom: 12px;
}

.notificationsListContent {
  margin-right:30px;
  padding-bottom:10px;
}

.notificationsListContent .hoverIcons {
  visibility:visible;
  opacity:0;
  margin-top:0px;
  margin-left:0px;
}

.notificationsListContent:hover .hoverIcons {
  transition: visibility 0.3s, opacity 0.3s ease;
  opacity: 1;
}

.notificationsListDates {
  color:#ccc
}

.notificationsListConditions {
  color:#ccc;
}

.notificationsListControlIcons {
  color: #03acca;
  margin-right:10px;
}

.cardDetails {
  padding:20px;
  font-size:0.8rem;
}

.cardControls {
  border-top:1px dotted #03acca;
  margin-top:10px;
}
