.header {
  position: sticky;
  top: 0;
  background-color: var(--mantine-color-body);
  transition: box-shadow 150ms ease;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: rem(1px) solid
      light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-3));
  }
}

.scrolled {
  box-shadow: var(--mantine-shadow-sm);
}

.highlighted-row {
  background-color: orange; /* Starting color */
  animation: fadeOutHighlight 3s forwards; /* Animation over 4 seconds */
}

@keyframes fadeOutHighlight {
  from {
    background-color: orange; /* Starting color */
  }
  to {
    background-color: #242424; /* Final color */
  }
}

.tableCellToTop .hoverIcons {
  visibility:hidden;
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: left;
  transition: visibility 0.3s, opacity 0.3s ease;
  opacity: 0;
  margin:0px 0px 5px 10px;
  color: #555;
}

.tableCellToTop .hoverIcons svg {
  color:#999;
}

.tableCellToTop .hoverIcons svg:hover {
  opacity:1;
  color:#eee;
}

.tableCellWithHover {
  position: relative;
  padding-bottom: 30px; /* Adjust this value based on icon size */
  transition: background-color 1s ease; /* Optional: for background color change */
}

.tableCellWithHover:hover .hoverIcons {
  visibility: visible;
  opacity: 0.5;
}

.tableCellWithHover:hover {

}

.notificationTypeChoice {
  margin-top:22px;
}

.pageId {
  font-family: courier;
}

.notificationTypeChoice div {
  margin-top:2px;
}

.tableCellToTop {
  vertical-align: top;
}

.mantine-Switch-root {
  cursor: pointer;
}
