.container {
  display: grid;
  grid-template-rows: 40vh 60vh;
  height: 100vh;
  max-width:none;
  width:100vw;
}

.top-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  border-bottom:1px solid #aaa;
}

.bottom-panel {
  width: 100%;
}

.config-widget {
  max-width:none;
}

.code-editor {
  overflow:auto;
  overflow-x: hidden;
}

.copy-button {
  position:relative;
  left:10px;
  top:10px;
  z-index:100;
}
