.invitationControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top:10px;
};

.invitationControls > div {
  padding-left: 5px;
  padding-top: 15px;
}

.invitationControls div label {
  margin-left:0px;
}

.invitationControlsGroup {
  margin-left:10px;
}
