/* Custom styles */
.header {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #d2e6eb;
  color: light-grey;
}

.navbar {
    background-color: #f0f0f0;
}

.mainContent {
  width: 80vw;
  padding: 20px;
  max-width:800px;
}

.account-overview {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.account {
    text-align: center;
}

.quick-actions button {
    margin: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.controls {
  margin-top: 100px;
}

.card {
  background-color: #fff;
  color:#555;
  width:280px;
  height:290px;
  cursor:pointer;
}

.cardText {
  font-weight:800;
  font-size:18px;
  margin:12px 0 6px 0;
}

.welcomeMsg {
  color: #3287d0;
  font-size:20px;
  font-weight:500;
  font-style:italic;
}
