.mainLayout {
  display: flex;
  height: 100vh;
  padding-top:20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  padding: 0.1rem;
  box-sizing: border-box;
}

.divider {
  width: 1px;
  background-color: #666;
  margin: 0 1rem;
}

.appShellMain {
  display: flex;
  flex-direction: column; /* Adjust based on your layout needs */
  overflow-y:hidden; /* Prevents itself from scrolling */
}

.mainContent {
  flex-grow: 1; /* Allows it to expand and fill available space */
  overflow-y: visible; /* Only vertical scrolling */
  padding-right: 20px; /* Keeps your right padding */
}

.logoStack {
  padding-bottom: calc(var(--mantine-spacing-md) * 0.2);
  margin-bottom: calc(var(--mantine-spacing-md) * 0.2);
}

.versionContainer {
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  position:absolute;
  bottom: 10px;
  left: 10px;
  width: auto;
  display: flex;
  justify-content: left;

}

.logoAnchor {
  alignSelf: center;
  width: 100%; /* Make the anchor take up the full width to center the logo */
}

.control {
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}
