.tinad-inline-container {
  display:none;
  position: relative;
  padding: 20px;
  font-family: Arial, Helvetica;
  background-color: #fff;  /* Light background color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Small shadow */
  border:1px solid #eee;
  border-radius: 10px;  /* Rounded corners */
  max-width: 100%;  /* Responsive width */
  margin: 10px 0 10px 0;  /* Centered in its container, with top/bottom spacing */
  min-height: 90px;
}

.tinad-inline-content {
  font-style: italic;
}

.tinad-inline-container .tinad-inline-confirm {
  position:absolute;
  bottom: 10px;
  right:10px;
  border:1px solid #999;
  background-color: white;
  color: black;  /* White text */
  border-radius: 5px;  /* Small rounded corners */
  padding: 2px 20px 2px 20px;  /* Padding for size and comfort */
  cursor: pointer;  /* Pointer cursor */
  font-size:12px;
}

.tinad-inline-container .tinad-inline-confirm:hover {
  border: 1px solid #000;
}

.tinad-inline-container .tinad-inline-dismiss {
  font-weight:800;
  color: #999;
  position: absolute;  /* Absolute position to place within its parent */
  top: 8px;  /* Adjust as needed for correct spacing from top */
  right: 10px;  /* Adjust as needed for correct spacing from right */
  background: none;  /* Remove background styling */
  border: 1px solid #fff;
  font-size: 16px;  /* Font size for "X" */
  cursor: pointer;  /* Pointer cursor to indicate clickable */
  padding:4px;
}

.tinad-inline-container .tinad-inline-dismiss:hover {
  border-radius: 2px;
  border: 1px solid #ddd;
  color: #000;
}
