/* Toast and Modal Styling */

.swal2-popup {
  padding: 20px 10px 10px 10px;
  width: 25%;
  min-width: 16em;
  font-size: 1em;
}

.swal2-html-container {
  padding-top: 30px;
}

.swal2-close {
  font-size: 1.75em;
  margin-top: -12px;
  margin-right: -5px;
}

.swal2-title, .swal2-html-container {
  font-weight: normal;
  font-family: Arial, Helvetica;
  text-align: left !important;
  padding-bottom:1em;
}

.swal2-actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.swal2-actions button {
  margin-right: 10px;
  margin-top: 10px;
  padding: 5px 30px;
  background-color: #eee !important;
  border: 2px solid #aaa !important;
  color: #999 !important;
}


.my-custom-container {
  width:85%;
}

.my-custom-button {
  padding: 20px !important;
  font-size: 30px !important;
  color: red !important;
}

.my-custom-title {
  color: red;  /* Example: changing the title color to red */
  font-size: 24px;  /* Example: changing the font size */
  font-family: 'Comic Sans MS', cursive, sans-serif; /* Example: changing the font */
}
