.swal2-popup {
  padding:20px 10px 10px 10px;
}

.swal2-close {
  margin-top: -12px;
  margin-right: -5px;
}

.swal2-html-container {
  padding-top:30px;
  text-align: left !important;
  font-family: Arial, Helvetica;
}

.swal2-actions {
  width:100%;
  display: flex;  /* Ensure Flexbox layout */
  justify-content: flex-end;  /* Align children (buttons) to the right */
}

.swal2-actions button {
  margin-right:20px;
  margin-top:10px;
  padding:10px 40px 10px 40px;
  background-color:#eee !important;
  border: 2px solid #aaa !important;
  color: #999 !important;
}

.swal2-close {
  font-size:2em;
}
