@keyframes slideDown {
  from {
    transform: translateY(-100%); /* Start from above the top */
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 0.95; /* Since you want 95% opacity */
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 0.95;
  }
  to {
    transform: translateY(-100%); /* Slide up above the top */
    opacity: 0;
  }
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 10px 0;
  background-color: #888; /* Customize as needed */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity:95%;
  z-index: 1000; /* Ensure it's above other content */
  animation: slideDown 0.25s ease-out forwards; /* Adjust time as needed */
}

.banner.slideUp {
  animation: slideUp 0.25s ease-out forwards;
}

.closeButton {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  font-weight:bold;
}
